*{
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
form{
    border-radius: 2px;
    border: 1px solid black;
    width: 500px;
    padding: 30px;
    margin: 0 auto;
    margin-top: 300px;
   text-align: center;
}
input{
    padding: 5px;
    
}